@model OlsaMarketing.Models.ReportView

@{
    ViewData["Title"] = "Отчет";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

<body>
    <div class="bg">
        <div class="bg1">
            <h3>Отчет о задачах</h3>
            <p> </p>
            @if (Model.Tasks != null && Model.Tasks.Any())
            {
                @foreach (var task in Model.Tasks)
                {
                    <p>Кампания: @task.Campaign.CampaignName</p>
                    <p>Сотрудник: @task.Employee.Name</p>
                    <p>Описание: @task.Description</p>
                    <p>Срок выполнения: @task.DueTo.ToShortDateString()</p>
                    <hr />
                }
            }
            else
            {
                <p>Нет задач для данного отчета.</p>
            }
        <a href="@Url.Action("PrintReport", "Home", new { reportId = Model.Id })" class="btn">Печать отчета</a>
    </div>
    </div>
</body>
